.container {

}
.myTitle {
	float: left;
	height: 50px;
	padding: 15px 15px;
	font-size: 32px;
	line-height: 20px;

}
.winner {
	text-align: center;
}
.navbar-form {
	margin-top: 14px;
}
.row {
	padding: 20px;
	border-radius: 3%;
	border: 1px solid #CCC;
	margin-top: 20px;
}

.box {
	height: 300px;
	padding: 0px;
	text-align: center;
	font-size: 200pt;
	float: center;
}
.col-md-4 {
	padding: 0px;
}

.leftcol {
	border-right: 2px dashed grey;
}

.rightcol {
	border-left: 2px dashed grey;
}
.notbot {
	border-bottom: 2px dashed grey;
}
#resetbutton {
	float: right;
	margin: auto;
}